@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.userHeader {
  background: white;
  margin-top: 50px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
  &--top {
    .userImg {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-color: white;
      // img {
      //   border-radius: 50%;
      //   width: 150px;
      //   height: 150px;
      // }
    }
    .userInfos {
      .infoContainer {
        display: flex;
        @media (max-width: 991px) {
          margin-bottom: 15px;
        }
        .userSmallImg {
          @media (min-width: 992px) {
            display: none;
          }
          @media (max-width: 991px) {
            margin-right: 20px;
          }
          div {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
						background-color: white;
						@media (max-width: 400px) {
							width: 70px;
            	height: 70px;
						}
          }
        }
        .firstRow {
          display: -webkit-inline-box;
          @media (max-width: 767px) {
						display: block;
						width: 100%;
          }
          .title {
            color: theme-color("dark");
            font-size: 26px;
            font-weight: 500;
            margin-right:50px;
						margin-bottom: 0;
						@media (max-width: 767px) {
							margin-right:0;
						}
						@media (max-width: 400px) {
							word-break: break-all;
						}
          }
          .nickname {
            color: #7F8FA4;
            font-size: 14px;
            margin: 7px 0 0;
            @media (max-width: 767px) {
              margin: 7px 0 15px;
            }
					}
					.infoSkills {
						margin-bottom:0px;
						div[class^="col"] {
							padding: 0;
						}
					}
        }
      }
      .userStats {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-top:15px;
        .text {
					margin-right: 20px;
          color: #7F8FA4;
					font-size: 15px;
					border-bottom: 1px solid transparent;
					&:hover {
						cursor: pointer;
						text-decoration: none;
						opacity: .9;
						border-bottom: 1px solid grey;
					}
					strong {
						font-size:18px;
						font-weight:600;
						color:#3a3a3a;
					}
        }
        .btnFollow span{
					color:white!important;
          margin-right: 0!important;
				}
				> button {
					margin-right: 20px;
					margin-bottom: 10px;
				}
      }
      .about {
				margin: 10px 0;
				font-size: 14px;
        font-weight: 500;
        word-break: break-word;
      }
    }
    .userActions {
      display: flex;
      justify-content: flex-end;

      @media (max-width: 767px) {
        justify-content: flex-start;
      }
      i {
        font-size: 19px;
      }
      >* {
        margin-left:15px;
        color:color("gray-dark");
        height: fit-content;
        @media (max-width: 767px) {
          margin-left:0px;
          margin-right:15px;
        }
      }
		}
	}
	.skill.more:hover {
		cursor: pointer;
		opacity: 1;
	}
}
