.userProfileEdit {
	h1 {
		margin-bottom:30px;
	}
	.buttons {
		text-align: center;
		margin: 40px auto 0;
	}
	.formSelect {
		// margin-top:20px;
		padding: 10px 0;
		.form-control {
			height: 40px;
			color: black!important;
		}
	}
	.formImg .preview {
    min-height: 100px;
	}
}
