@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.postCreate {
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1), 0 4px 7px 0 rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.2);
  .inputBox {
    padding: 20px;
    border-bottom: 1px solid color("lightgray");
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    .userImgContainer {
      width: 50px;height: 50px;
      margin-right: 10px;
    }
    .userImg {
      width: 50px;height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-color: white;
    }
  }
  .postInputMentions {
    width: 100%;
    textarea {
      color: #212529;
      font-size: 15px!important;
      line-height: 17px!important;
    }
    * {
      border: none!important;
    }
  }
  .actionBar {
    padding: 10px 20px 10px;
		display: flex;
		align-items: center;
    justify-content: space-between;
	}
	.preview {
		padding: 0 20px;
		.listDocuments {
			word-break: break-word;
			li {
				padding-bottom: 10px;
			}
		}
	}
}

.postUpdate {
  // margin-left: -20px;
  // width: calc(100% + 40px);
  .inputBox {
    // padding: 20px;
    // border-bottom: 1px solid color("lightgray");
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    .userImgContainer {
      width: 50px;height: 50px;
      margin-right: 10px;
    }
    .userImg {
      width: 50px;height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-color: white;
    }
  }
  .postInputMentions {
    width: 100%;
    textarea {
      color: #212529;
      font-size: 15px!important;
      line-height: 17px!important;
    }
    // * {
    //   border: none!important;
    // }
  }
  .actionBar {
    padding: 10px 5px 10px;
    display: flex;
    justify-content: space-between;
  }
}
