.needWorkers{
  padding-top: 15px;
  .workers{
    $diametre: 35px;
    /* display: flex; */
    align-items: center;
    .imgList {
      margin-left: 5px;
    }
    >span:nth-child(1) {
      margin-right: 3px;
    }
    .peopleImg {
      width: $diametre;
      height: $diametre;
      border-radius: 50%;
      margin: 4px;
      &:hover {
        opacity: .9;
      }
    }
    .moreMembers {
      width: $diametre;
      height: $diametre;
      background: #2987CD;
      color:white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    }
  }
}