.needCard{
  padding: 15px 22px;
	box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	@media(max-width:768px) {
		padding: 15px;
	} 
	&--header {
	  .needOwnerAction{
			color: lightgrey;

	    i:hover {
	      color: grey;
	      cursor: pointer;
	    }
		}
		.needProject {
			color:#a9a9a9;
			font-size:14px;
			display: none;
			a {
				color:#a9a9a9;
				font-size:14px;
				font-weight: bold;
				text-decoration: underline;
				&:hover {
					opacity: .8;
				}
			}
		}
	}

	h5 {
		font-family: "Bebas Kai" !important;
		font-size: 24px;
		color:#343a40;
	}

	&--content {

		.needContent {
			padding: 17px 0;
		}

		.infoSkills {
			margin-bottom: 10px;	
		}

	  .needFeed {
			margin: 25px 0 50px;
			position: relative;

	    .zoneFeed{
	      border: 1px solid #CBCBCB;
	      padding: 5px;
	      overflow: hidden;
				position: relative; 
	    }

	    .btnSee{
	      position: absolute;
	      bottom: -17px;
				right:calc(50% - 60px);
	      width: 100px;
	    }
		}
	}

	&--footer {
		.needStats {
			font-size:15px;
			font-weight: 500;
			margin-bottom: 10px;
			color: #b0b0b0;
			&:hover {
				cursor: pointer;
				text-decoration: underline;	
			}
			@media(maxi-width:768px) {
				margin-bottom: 8px;
			} 
		}
		.btnToggleMode {
			margin:0;
		}
	}

}