.slick-next:before, .slick-prev:before {
  color:black;
}

.CompleteProfile {
  .formDefault, .formSkills, .formInterests, .formSelect {
    justify-content: center;
  }
  .titleInfo {
    display: none;
  }
  .content {
    @media (min-width:1301px) {
      max-width: 1000px!important;
      margin: auto;
    }
	}
	h2.form-title {	
		line-height: 40px;
		@media (max-width:577px) {
			font-size:30px;
			margin-bottom: 15px;
    }
	}

	.buttonsContainer {
		display: flex;
		justify-content: flex-end;
	  button.prev {
	    border: 1px solid grey;
		}
	}
	
  .form-content {
    margin:70px 0 70px;
    @media (max-width:577px) {
      margin:30px 0 0px;
		}
		input {
			height: 45px;
		}
	}

  .formDefault {
		input {
			border: 1px solid rgb(204, 204, 204);
		}
	}
	
	.formSelect {
		// margin-top:20px;
		padding: 10px 0;
		.form-control {
			height: 45px;
			color: black!important;
		}
	}
  .form-header {
    margin-bottom: 40px;
	}
	.interest img {
		@media (max-width:577px) {
			width: 75%!important;
			margin: auto;
    }
	}
}
