@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

.projectDetails, .challengeDetails, .communityDetails, .programDetails, .userProfile, .userHeader, .projectEdit, .communityEdit, .challengeEdit, .programEdit {
  .nav {
		margin-top:40px;
		display: flex;
		justify-content: center;
			/* The sticky class is added to the navbar with JS when it reaches its scroll position */
			&.sticky {
			  position: sticky;
				top: 75px;
				z-index: 9;
				background: white;
				border:1px solid lightgray;
			}
    .nav-link, .nav-link.active, .nav-link:hover {
      border:none!important;
      border-color:none;
      border-bottom-width: 2px!important;
      border-bottom-style: solid!important;
      border-bottom-color: transparent!important;
      color:color("gray-dark");
      font-size: 18px;
      font-weight: 500;
			width: fit-content;
			margin-bottom: 0px;
    }
    .nav-link.active, .nav-link:hover {
			border-bottom-color: theme-color("primary")!important;
    }
    a.nav-link {
      color:color("gray-dark");
    }
	}
	.listChallengesAttached .card-desc.projects_count {
		display: none;
	}
  .tabContainer {
    padding-top: 40px;
		padding-bottom: 50px;
		@media(max-width: 480px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
    .tab-content {
			.feed {
				margin: auto;
			}
    }
	}
	.deleteBtns .btn-danger {
		margin-left: 0px;
		margin-right: 10px;
		@media(max-width: 480px) {
			margin-bottom: 12px;
		}
	}
	.statsModal, .networkModal {
		.modal-dialog {
			margin: 20px auto;
			max-width: 1260px;
			@media(max-width:1290px) {
				max-width: 85vw;
			}
			@media(max-width:768px) {
				max-width: 90vw;
			}
			.card-footer {
				display: none;
			}
			.peopleList {
				box-shadow: none;
				padding: 0 10px;
				@media(max-width:768px) {
					padding: 0;
				}
			}
		}
		.modal-backdrop {
			/* bug fix - no overlay */    
			display: none;    
	}
		.modal-content {
			// overflow: scroll;
			max-height: 95vh;
		}
		.modal-body {
			overflow: scroll;
		}
		.close {
			font-size: 1.8rem;
	    background: #cfcfcf;
	    padding: 5px 11px;
	    margin: 2px 0;
	    color: #3d3d3d;
			border-radius: 20px;
			outline: none;
		}
	}
	.alert-success.w-100 {
		display: none;
		position: absolute;
		top:100px;
		left:10%;
		width: 80%!important;
		margin:auto!important;
		text-align: center;
	}
}

.projectDetails {
	.tab-content {
		@media(max-width: 768px) {
			padding: 0;
		}
	}
	.tab-pane#news, .tab-pane#about  {
		padding: 0 10px;
	}
	.tab-pane#about {
		width: 70%;
		margin: auto;
		@media(max-width: 768px) {
			width: 100%;
		}
		.infoHtml {
			width: 100%!important;
		}
		h3 {
			margin-top:40px;
			color:#2987CD;
		}
	}
}

.projectEdit {
	.collapseDetailedInfo {
		margin-bottom: 30px;
		margin-top:-5px;
	}
}

.projectEdit, .communityEdit, .challengeEdit, .programEdit {
	.tabContainer {
		@media(max-width: 480px) {
			padding-top: 40px;
		}
	}
	#advanced {
		h5:not(.modal-title) {
			margin-bottom: 20px;
		}
		hr {
			margin: 40px 0 20px;
		}
	}
}


.projectHeader, .challengeHeader, .communityHeader, .programHeader {
  margin-top: 120px;
  padding: 0 30px;
  @media(max-width: 991px) {
		padding: 0px 30px;
		margin-top: 100px;
	}
	@media(max-width: 480px) {
		padding: 0px 15px;
		margin-top: 90px;
  }
  .title {
    margin-bottom: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      color:color("gray-dark");
			// font-family: "Bebas Kai"!important;
			// font-size: 50px;
			font-size: 45px;

		@media(max-width: 768px) {
			font-size: 30px;
		}
			span {
				font-size:25px;
				line-height:20px;
			}
    }
    a {
      padding-left: 20px;
    }
  }
  &--banner {
    @media(max-width: 991px) {
      margin-bottom: 40px;
    }
    div {
      width: 100%;
			height: 400px;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			@media(max-width: 480px) {
				height: 200px;
			}
    }
  }
  &--info {
    .info {
      color:color("gray-dark");
      a {
        color:inherit;
        margin-left:8px;
        &:hover {
          text-decoration: underline;
        }
      }
      strong {
        font-weight: bold;
      }
      span.status {
        color: theme-color("primary");
        margin-left:8px;
      }
      span.projectNb, span.challengetNb, span.communityNb, span.programNb {
        font-size:23px;
        margin-right: 4px;
        font-weight: bold;
      }
		}
		.infos span{
			padding-left:10px;
			color: theme-color("gray-300");
		}
    .projectStats, .challengeStats, .communityStats, .programStats {
			.text {
				margin-right: 20px;
				color: #7F8FA4;
				font-size: 15px;
				border-bottom: 1px solid transparent;
				&:hover {
					cursor: pointer;
					text-decoration: none;
					opacity: .9;
					border-bottom: 1px solid grey;
				}
				strong {
					font-size:18px;
					font-weight:600;
					color:#3a3a3a;
				}
			}
		}
		.challengeStats .text {
			margin-right: 0px; // no margin-right as stats are in 2 different lines
		}

    .zoneBtnActions {
      margin-bottom: 15px;
      .btn {
				margin-right: 15px;
				margin-top:10px;
				margin-bottom: 0px;
			}
		}
		.infoDefault {
			margin: 20px 0!important;
			.skill {
				margin-right: 10px;
			}
		}
		.infoInterests {
			margin-top:28px;
			.interest{
				.imgInterest{
					@media(max-width: 480px) {
						max-width: 80px;
					}
				}
			}
		}
  }
}

.projectsHeader, .communitiesHeader, .challengesHeader, .peopleHeader, .programsHeader {
  margin-top: 105px;
  h1 {
  	color: theme-color("dark");
  	font-size: 26px;
		line-height: 36px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
  .dropdown {
    button {
      background: white;
      color:color("gray-dark");
    }
  }
  hr {
    margin: 30px 0 30px;
    border-top:1px solid color("lightgray");
	}
}

.ql-container, .ql-editor {
	padding: 10px 7px -1px!important;
	font-size:16px;
	@media (max-width:480px) {
		padding: 5px 7px -1px;
	}
	.textarea-emoji-control {
		display: none;
	}
}

.rendered-quill-content {
	padding: 0px;
}

// .ql-container .ql-editor {
// 	padding: 10px 7px -1px!important;
// 	@media (max-width:480px) {
// 		padding: 5px 7px -1px;
// 	}
// }

.ql-editor:not(.rendered-quill-content) {
	min-height: 200px;
	max-height: 500px;
}

.projectForm, .communityForm {
	.publicPrivateToggleMsg {
		margin-top: 25px;
	}
}

.projectFormBtns, .programFormBtns, .communityFormBtns, .challengeFormBtns {
	margin-top:40px;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	button {
		margin: 0 10px;
	}
}

.userProfileEdit, .projectEdit, .communityEdit, .challengeEdit, .projectCreate, .communityCreate, .challengeCreate, .programCreate, .programEdit {
  margin-top: 110px!important;
  width: 75%!important;
  margin: auto;
  @media (max-width: 768px) {
    width: 100%!important;
    h1 {
			font-size:29px;
    }
	}

  .titleInfo {
    font-weight: 600;
	}
	// hide members title in the members tab of a project edition page
	.membersList, .projectsAttachedList, .challengesAttachedList {
		margin-top: 0;
		h3 {
			display: none;
		}
		.btn {
			margin-bottom: 20px;
		}
	}
}

// style for edition only (not creation)
.userProfileCreate, .projectCreate, .communityCreate, .challengeCreate {
	h1 {
    margin-bottom: 30px;
	}
}


.formSkills, .formDefault, .formTextArea, textarea, .form-group {
	input::placeholder, textarea::placeholder {
		color:color("gray-300")!important;
	}
}

.projectsSearch, .challengeSearch, .communitySearch {
	button {
		margin:0 0 7px!important;
	}
}

// modal add project
#modalAddProject {
	.modal-body > a {
		display: grid;
		justify-content: end;
	}
	.readRules {
		margin:15px 0;
		font-style: italic;
		font-size:15px;
	}
}
// 
#modalAddProject, #modalAddChallenge {
	input, label {
		cursor: pointer;
	}
}

.dropdownWarningMsg {
	font-size:17px!important;
	line-height: 24px!important;
	font-style: italic!important;
	font-weight: 400!important;
	@media(max-width:575px){
		font-size:15px!important;
	} 
}


	/* toggle switch for collaborator type  */
	// .material-switch {
	// 	display: flex;
	// 	align-items: center;
	// 	margin: 15px 0 5px;
	// 	 & > input[type="checkbox"] {
	// 		display: none;
	// 		&:checked + label::before {
	// 	    background: grey;
	// 	    opacity: 0.5;
	// 		}
	// 		&:checked + label::after {
	// 	    background: grey;
	// 	    left: 20px;
	// 		}
	// 	}
	// 	span:nth-child(1) {
	// 		margin:-9px 7px 0 0;
	// 	}
	// 	span:nth-child(4) {
	// 		margin:-9px 0 0 9px;
	// 	}
	// 	& > label {
	//     cursor: pointer;
	//     height: 0px;
	//     position: relative; 
	//     width: 40px;  
	// 		&::before {
	// 	    background: rgb(0, 0, 0);
	// 	    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	// 	    border-radius: 8px;
	// 	    content: '';
	// 	    height: 16px;
	// 	    margin-top: -8px;
	// 	    position:absolute;
	// 	    opacity: 0.3;
	// 	    transition: all 0.4s ease-in-out;
	// 	    width: 40px;
	// 		}
	// 		&::after {
	// 	    background: rgb(255, 255, 255);
	// 	    border-radius: 16px;
	// 	    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	// 	    content: '';
	// 	    height: 24px;
	// 	    left: -4px;
	// 	    margin-top: -8px;
	// 	    position: absolute;
	// 	    top: -4px;
	// 	    transition: all 0.3s ease-in-out;
	// 	    width: 24px;
	// 		}
	// 	}
	// }
	// .detailed-description {
	// 	display: none;
	// }


	.loadBtn {
		margin:auto!important;
		display: flex!important;
		justify-content: center!important;
	}