@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.heading {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  height: 556px;
  // background-image: url("../../assets/img/landing_background_right.png"), url("../../assets/img/landing_background_left.png");
	// background: linear-gradient(90deg, rgba(0,132,255,.4) 0%, rgba(102,28,171,.4) 100%);
	&::after {
	  content: "";
	  background-image: url("../../assets/img/landing_background.jpg");
		opacity: .8;
	  // background-position: right top, left top;
		// background-repeat: no-repeat, no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	  opacity: .5;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;   
	}
  @media (max-width:991px) {
    height: 100%;
    padding: 40px 0 15px;
  }
  .container {
    @media (max-width:991px) {
      text-align: center;
    }
    overflow: hidden;
  .background-left {
    z-index: -1;
    overflow: hidden;
    left: 0px;
    position: relative;
    display: block;
  }
  .background-right {
    z-index: -1;
    overflow: hidden;
    right: 0px;
    position: relative;
    display: block;
  }
  }
  h1 {
    color: theme-color("dark");
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    @media (max-width:991px) {
      font-size: 40px;
    }
    @media (max-width:480px) {
      font-size: 33px;
    }
  }
  p {
    color: theme-color("dark");
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    margin:20px 0 40px;
    strong {
      // color: #B534B9;
      color: black;
    }
    @media (max-width:480px) {
      font-size: 20px;
    }
  }
  .getStarted {
    display: flex;
    height: 48px;
    input {
      margin-right:10px;
      border-radius: 5px;
      height: 48px;
    }
    .nav-link {
      color:white;
    }
  }
  img {
    @media (max-width:767px) {
      width: 100%;
    }
    @media (max-width:991px) {
      margin-top:50px;
    }
  }
}

.content {
  color:color("gray-dark");
  h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 30px;
    @media (max-width:991px) {
			font-size: 35px;
    }
    @media (max-width:480px) {
			font-size: 29px;
			margin-bottom: 10px;
		}
  }
  p {
    font-size: 19px;
    line-height: 35px;
		@media (max-width:991px) {
		}
    @media (max-width:480px) {
      font-size: 20px;
			line-height: 30px;
		}
		&.joinMouv {
			width: 70%!important;
			margin: auto;
			@media (max-width:991px) {
				width: 85%!important;
			}
			@media (max-width:480px) {
				width: 95%!important;
			}
		}
  }
  .cards {
    margin: 50px auto;
    display: flex;
		justify-content: center;
		@media (max-width:480px) {
			margin: 25px auto 0px;
		}
    .singleCard {
      .cardContent {
        // padding: 20px;
        padding: 0px 20px 20px;
        margin: 15px 0;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
      img {
        // height: 200px;
        width: 100%;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 26px;
        font-weight: 500;
        line-height: 36px;
      }
      p {
        font-size: 15px;
        line-height: 21px;
        height: 70px;
      }
      button {
        width: 100px;
        margin: auto;
      }
    }
  }
}

.connectedHome {
	margin-top: 100px;
	@media(min-width:768px){
		.tabContainer {
			width: 100%;
		} 
		.nav-tabs {
			display: none;
		}
	}

	@media(max-width:767px){
		flex-flow: column;
		.tabContainer {
			margin-top:20px;
			h3 {
				font-size:24px;
			}
		}
		.nav-tabs {
			.nav-item {
				padding: 7px;
				h5 {
					font-size:18px;
				}
			}
		}
	}
	.latestNeeds {
		h3 {
			margin-bottom: 20px;
		}
		.needCard {
			margin:13px 0;
			padding:13px 5px;
			h5 {
				line-height: 27px;
				overflow: hidden;
				display: -webkit-box;
				max-height: 60px;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.needContent {
				margin: 5px 0 10px;
			}
			.needContent,.needProject {
				font-size: 14px!important;
			}
			.cardHeader {
				margin-bottom: 0px;
				padding-bottom: 0px;
				border-bottom: none;
			}
		}
	}
	.viewMoreRecents {
		display: block;
		position: relative;
		margin: -20px 0 25px;
		&.viewNeeds {
			margin: 5px 0 25px;
		}
	}
}


.aboutJOGL {
	width: 70%!important;
	margin: auto!important;
	@media(max-width:767px){
		width: 80%!important;
	}
	@media(max-width:481px){
		width: 95%!important;
	}
	h1 {
		font-family: 'Bagnard', arial;
		margin-bottom:40px;
		// color:black;
		font-size:50px;
		@media(max-width:767px){
			font-size:36px;
		}
	}
	p {
		font-size:25px;
		line-height: 36px;
		// color:black;
		&:nth-child(1) {
			text-align: left!important;
		}
		&:nth-child(2) {
			text-align: right!important;
		}
		&:nth-child(3) {
			text-align: left!important;
			width: 80%;
			@media(max-width:767px){
				width: 100%;
			}
		}
		strong {
			color:#474747!important;
		}
		@media(max-width:767px){
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				text-align: left!important;
			}
			font-size:20px;
			line-height: 28px;
		}
		&.aboutJoin {
			text-align: center;
			font-weight: bold;
			// color:black;
			margin-bottom: 20px;
			button {
				padding: 3px 3px!important;
				height: 35px;
				border-radius: 13px;
				margin-left:13px;
			}
		}
	}
}