// @import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';
// 

.documentCardFeed {
  text-align: left;
	align-content: center;
  border: 0!important;
  box-shadow: none;
	padding: 0px;
	margin: 5px 0 0;
	word-break: break-word;
	line-height: 20px;
	@media (max-width:575px) {
		margin: 12px 7px 0 0;
	}
  .card-body {
    padding: 0 10px 0 0;
  }
  i {
    font-size: 20px;
		color: gray;
		position: absolute;
  }

  a {
    color: gray;
		font-size: 14px;
		margin-left:28px;
  }
  .hover_img {
    a {
      position:relative;
      span {
        position:absolute; display:none; z-index:99;
      }
      &:hover span {
        display:block;
        img {
          border:5px solid theme-color("secondary");
          border-radius: 5px;
        }
      }
    }
  }
}