@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.commentCreate {
  border-radius: 10px!important;
  box-shadow: none!important;
  .inputBox {
    border-bottom: none !important;
    padding: 0 0 0 5px!important;

		@media (max-width: 500px) {
      padding: 20px 15px 15px;
    }
    .userImgContainer {
      width: 40px!important;height: 40px!important;
    }
    .userImg {
      width: 40px!important;height: 40px!important;
		}
	}
	.btn-primary {
		display: none;
		margin: 6px 0 0 57px;
	}
  .suggestionsContainer__highlighter {
    min-height: 33px!important;
  }
  .postInputMentions {
    width: 70%;
    padding: 0 20px 0 0px !important;
    background: #F2F3F4;
    border-radius: 10px;
		.suggestionsContainer__control {
      background: #F2F3F4;
			height:auto;
      // overflow: auto;
			min-height:40px!important;
			padding:5px 15px 0px 5px;
			border: 1px solid #EDF1F6;
			border-radius: 20px;
			background-color: #FDFDFE;
		}
  }
}

.commentUpdate {
  // min-width: 500px;
  .inputBox {
    border-bottom: none;
  }
  .postInputMentions {
    width: 100%;
    padding: 0px !important;
    margin-bottom: 10px;
    background: #F2F3F4;
    border-radius: 0px;
    .suggestionsContainer__control {
      background: #F6F7F8 !important;
      height:auto;
      border: none !important;
      // overflow: auto;
      min-height:40px!important;
      padding:5px 15px 5px 5px;
      border-radius: 20px;
      background-color: #FDFDFE;
      .suggestionsContainer__input {
        margin-bottom: 0px !important;
        font-weight: 400 !important;
        font-size: 14px !important;
      }
		}
		textarea {
      min-height: 30px!important;
    }

	}
}
