@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.formInterests {
  font-weight: 600;
  padding: 10px 0;
	width: 100%;
	// margin: auto!important;

  .form-row{
    padding: 5px;
  }

  .interest{
		margin-bottom: 10px;
		text-align: center!important;
		&.toggle {
			display: none;
		}
    .imgInterest{
      max-width: 140px;
      width: 100%;
      transition-duration: 0.2s;
    }

    .imgInterest:hover{
      cursor: pointer;
      max-width: 140px;
      width: 100%;
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
      transition-duration: 0.2s;
    }

    .selected{
      border: 7px solid #04de42;
      border-radius: 5px;
    }

    .interestElement{
      position: absolute;
      left: -9999px;
    }
	}
	
	.less, .more {
		color: theme-color("primary");
		cursor: pointer;
		height: fit-content;
		text-decoration: underline;
		&:hover {
			color:darken(theme-color("primary"), 15)
		}
	}
	.less {
		display: none;
	}
}
