.formChipsComponent {
  font-weight: 600;
  padding: 10px 0;
  width: 100%;
}
.skill-container, .hashtags-container {
	@media (max-width:575px) {
		// margin-top:10px;
	}
	span {
		font-size:15px;
		font-style: italic;
		font-weight: 400;
		// font-weight: 500;
	}
}
.skill-container input, .skill-container div, .hashtags-container div, .hashtags-container input {
	font-size:16px;
}
