.formSelect {
	font-weight: 600;
	width: 100%;
	.form-group {
		width: 100%;
		margin-bottom: 0!important;
	}
	.form-control {
		height: 60px;
		color: black!important;
	}
  .form-row{
    padding: 5px;
  }

  .interest{
		margin-bottom: 10px;
		text-align: center!important;
    .imgInterest{
      max-width: 140px;
      width: 100%;
      transition-duration: 0.2s;
    }

    .imgInterest:hover{
      cursor: pointer;
      max-width: 140px;
      width: 100%;
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
      transition-duration: 0.2s;
    }

    .selected{
      border: 7px solid #04de42;
      border-radius: 5px;
    }

    .interestElement{
      position: absolute;
      left: -9999px;
    }
  }
}
