@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.formToggle {
	$duration: 0.4s;
	margin-top:15px;
  padding: 10px 0;
	width: 100%;
	
	p {
		font-size:17px!important;
		line-height: 24px!important;
		font-style: italic!important;
		@media(max-width:575px){
			font-size:15px!important;
		} 
	}

  .separator{
    color: grey;
    font-weight: 100;
    padding: 5%;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ccc; */
    /* background-color: #27B40E; */
    -webkit-transition: $duration;
    transition: $duration;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: $duration;
    transition: $duration;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .toggle{
		margin-top:10px;
    .choice{
      padding: 0 10px;
      vertical-align: middle;
      transition-duration: $duration;
    }

    .choice.left{
      padding-left:0;
    }

    .choice.selected{
        color: color("lightgray");
        transition-duration: $duration;
    }
  }
}