.needs {
	.statusTag {
		padding: 5px 15px;
    border-radius: 30px;
    text-align: center;
    width: 160px;
    height: 36px;
    margin-left: 20px;
		background: lightgray;
		&.true {
			background: #FFC106!important;
		}
		&.completed {
			background: lightgray!important;
		}
	}
}

.needCreate {
	padding: 15px 5px;
	&.justButton {
		padding: 0 0 25px 0;
	}
	.btn {
		margin: 0;
	}
	&.isCreating{
		box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
		margin: 0px 0 50px;
	}
}

.needUpdate{
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	padding: 15px 22px;
	margin-bottom: 30px;
	&--Header {
		margin-bottom: 50px;
	}

  .btnStatus{
    width: 100px;
    margin-right: 10px;
  }
}