@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.infoHtml {
  font-weight: 600;
  padding: 10px 0;
	width: 70%;
	margin: auto;
	@media(max-width:991px) {
		width: 85%;
	}
	@media(max-width:600px) {
		width: 100%;
	}
  .content {
    p {
      font-size: 16px;
      font-weight: 400;
			margin-bottom: 7px;
			line-height: 24px!important;
		}
		a {
			color: #2987CD!important;
			cursor: pointer;
		}
		li {
			font-size: 15px;
			font-weight: 500;
		}
		ul {
			padding-inline-start: 10px!important;
			margin-block-start: -10px!important;
		}

    img {
			max-width: 100%;
			height: auto;
    }

    .ql-video {
      width: 640px;
      height: 360px;
    }

    blockquote {
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      font-size: 24px;
      line-height: 1.48;
      letter-spacing: -.012em;
      quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 2em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote:after {
      color: #ccc;
      content: close-quote;
      font-size: 2em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    pre {
      background: rgba(0,0,0,.05);
      padding: 20px;
      white-space: pre-wrap;
      font-family: Monaco,"Courier New",Courier,monospace;
      font-size: 16px;
      margin: 0;
      overflow: auto;
      color:color("gray-dark");
      word-wrap: break-word;
    }

    h1 {
      font-style: normal;
      font-weight: 700;
      line-height: 1.25;
      font-size: 28px;
			letter-spacing: 0;
			margin-bottom: 30px;
    }

    h2 {
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
      letter-spacing: -.02em;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 0;
      font-size: 25px;
      line-height: 1.15;
			letter-spacing: -.015em;
			margin-bottom:20px;
    }

    h3 {
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
      letter-spacing: -.02em;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 0;
      font-size: 21px;
      line-height: 1.22;
      letter-spacing: -.012em;
		}
		h1, h2, h3, h4 {
			strong {
				font-weight: 700;
			}
		}
  }
}
