@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.infoSkills {
	width: 100%;
	margin-bottom: 20px;
	.skill{
		margin: 0 15px 5px 0;
		display: inline-flex;
		background-color: color("gray-light");
		color:color("gray-dark");
		height: 37px;
		padding: 10px;
		border: 1px solid color("gray");
		border-radius: 5px;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		@media(max-width:480px) {
			padding: 20px 10px;
			margin: 0 15px 10px 0;
		}
		&:last-of-type {
			margin: 0 0 5px 0!important;
		}
		&.toggle {
			display: none;
		}
		&.more {
			opacity: .5;
		}
	}

	.lessSkills, .moreSkills {
		color: theme-color("primary");
		cursor: pointer;
		height: fit-content;
		width: fit-content;
		&:hover {
			color:darken(theme-color("primary"), 15)
		}
	}
	.lessSkills {
		display: none;
	}
}