@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

.main {
  margin-top: 70px;
  margin-bottom: 150px;
}

@font-face {
	font-family: 'Bebas Kai';
	src: url('assets/fonts/BebasKai.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
