@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

.container-fluid {
  max-width: 1280px;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
  i {
    font-size: 20px;
  }
}

.btn-big {
  padding: 10px 20px;
}

.btn-lg, .btn-md {
  margin-bottom: 5px;
  margin-left: 0;
}

.btn-outline-primary:hover {
  background-color: transparent;
  color: theme-color("primary");
  opacity: 0.8;
}

.list-filter .btn {
	margin: 0px;
}

.btn-action{
  font-size: 0.8em;
  margin-left:2%;
  margin-right: 2%;
  border-radius: 5px;
  box-shadow: 1px 2px 8px rgba($color: #000000, $alpha: 0.2);
}

.btn-card{
  width: 100%;
}

.btn-home {
  height: 48px;
  min-width: 120px;
}

.cc-window.cc-invisible {
	// opacity: 1;
	// display: block!important;
}

.form-control {
	color: black!important;
}

.btnZone{
	margin-top:15px;
}

// for Filter.js
.list-filter {
	.dropdown-item {
		cursor:pointer;
		&.active, &:hover {
			background:theme-color("primary");
			color:white;
		}
	}
}