@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

.peopleCard{
  background-color: white;
	margin: auto;
	display: flex;
	border-bottom: 1px solid lightgray;
	padding: 12px 0;
	align-items: center;

  &--profileImg{
    width: 110px;
    height: 110px;
    background-clip: padding-box;
    float: left;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
		margin-top: 5px;
    border-radius: 50%;
    &:hover {
			opacity: .9;
		}
		@media(max-width:768px) {
			width: 70px;height: 70px;
		}
		@media(max-width:500px) {
			width: 60px;height: 60px;
		}
		@media(max-width:400px) {
			width: 54px;height: 54px;
		}
	}
	
	&--userInfo {
		width: 100%;
		padding: 0 20px;
		@media (max-width:768px) {
			padding: 0 0 0 20px;
		}
	  .userName{
	    margin-bottom: 0 !important;
	    color: theme-color("primary");
	    font-family: "Bebas Kai"!important;
	    font-size:24px;
	  }

	  .userBio{
	    font-size:14px;
			color:color("gray-dark");
			line-height: 23px;
			// height: 47px;
			color:#343a40;
			overflow: hidden;
			display: -webkit-box;
			max-height: 56px;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			word-break: break-all;
		}
	}

  &--buttons {
    background-color: white;
		border-top: none;
		@media(max-width:768px) {
			display: none;
		}
		.row {
			flex-flow: column;
		}
		.btn {
			padding: 6px 15px;
			font-size:15px;
			margin:10px 0 0;
		}
	}
}